/* -------------------------------------Global styles---------------------------------------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
        
/* -------------------------------------Header styles---------------------------------------- */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.nav {
    background-color: #333;
    overflow: hidden;
    position: relative;
}

.nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #0ad1df;
    color: white;
}

.nav .icon {
    display: none;
}
        
/* ---------------------------------Container styles---------------------------------------------- */
.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}
        
/* --------------------------------Main content styles--------------------------------------------- */
.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Detector */
#drop-zone {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 70%;
    margin: 50px auto;
    padding: 20px;
}

#drop-zone.highlight {
    border-color: blue;
}

#gallery {
    margin-top: 10px;
    overflow-y: auto; /* Add vertical scrollbar when needed */
    max-height: 320px; /* Adjust this value as needed */
}

.image-container {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
}

.image-container img {
    width: 150px;
}

#gallery img {
    width: 150px;
    margin-bottom: 8px;
    margin-right: 8px;
    vertical-align: middle;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}
.submit-btn {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#fileElem {
    display: none;
}
   
.image-container {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
}

.image-container img {
    width: 150px;
}

#Analyze {
    transform: scale(1.5); /* You can adjust the scale factor as needed */
    margin-right: 10px; /* Add some spacing between the label and the checkbox */
}

/* About */
.profile {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.pic {
    float: left;
}

.caption {
    float: left;
    padding: 20px;
}

img {
    object-fit: cover;
    width: 250px;
    height: 250px;
}
        
/* -------------------------------------Footer styles------------------------------------------- */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
        
/* -------------------------------------Responsive styles--------------------------------------- */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .content {
        padding: 10px;
    }
    footer {
        padding: 10px;
    }

    .nav a:not(:first-child) {
        display: none;
    }

    .nav a.icon {
    float: right;
    display: block;
    }
    .nav.responsive {
        position: relative;
    }

    .nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}